.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  min-height: 15px;
  padding: 30px 40px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $basic-white;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: $basic-orange;
  border: none;

  // &:hover {
  //   background-color: $button-hover;
  // }

  // &:active {
  //   background-color: $button-active;
  //   color: rgba(255, 255, 255, 0.3);
  // }

  // &:disabled {
  //   background-color: $button-disabled;
  // }
}
