.review {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 342px;
  padding: 30px;
  background-color: $basic-white;
}

.review__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.review__about {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: $nav-black;
  opacity: 0.7;
}

.review__author {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $nav-black;

  &::before {
    content: "";
    background-image: url("../../img/vlada_golitsina.jpg");
    background-size: cover;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}
