//Colors
$basic-blue: #81b3d2;
$basic-white: #ffffff;
$basic-orange: #FE7865;

//Text colors
//Nav
$nav-black: #2C2E3F;

//Header
$phone-black: #141517;

// Viewprts
$tablet-width: 768px;
$mobile-width: 320px;
