//Colors
$basic-blue: #81b3d2;
$basic-white: #ffffff;
$basic-orange: #fe7865;

//Text colors
$nav-black: #2c2e3f;

//Header
$phone-black: #141517;

// Viewprts
$tablet-width: 768px;
$mobile-width: 320px;
